@import url('/reset.css');

body {
  width: 100%;
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

/* LAYOUT */

#header {
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  width: 100%;
  padding: 3rem;
}

#title,
.articleInMachine:not(:first-child) {
  margin-top: 0.5rem;
}

h2 {
  margin-top: 1rem;
}

.removable-tool {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.removable-tool:not(:last-child) {
  margin-right: 1rem;
}

.removable-tool-num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  width: 5.5rem;
  height: 1.8rem;
  border: 0.0625rem solid #000;
}

#delete-btn {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 1rem;
}

.selector {
  height: 2rem;
  margin: 1rem 0;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
}

/* TYPOGRAPHY */

#title {
  font-size: 1.2rem;
  font-weight: 600;
}

#title,
.btn {
  text-transform: uppercase;
}

h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

p,
.removable-tool,
.btn {
  font-size: 0.8rem;
}

/* COLORS */

#header {
  background-color: #31a3a9;
}

.removable-tool {
  background-color: rgba(49, 163, 169, 0.1);
}

.btn,
.selector {
  background-color: #fff;
  color: #000;
}